.App {
  text-align: center;
  margin: 5%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.card_map{
  display: inline-block;
  margin: 0%;
}

.ReactTags__tag {
  display: "inline-block";
  margin-right: 2%;
  padding: 1%
}

.ReactTags__tagInput {
  border-radius: 2px;
  display: inline-block;
}

.ReactTags__selected span.ReactTags__tag {
  border: 1px solid #ddd;
  background: #1876d2;
  color: white;
  font-size: 12px;
  display: inline-block;
  padding: 5px;
  margin: 0 5px;
  border-radius: 2px;
}

.ReactTags__selected span.ReactTags__tag:first-child {
  margin-left: 0px;
}

.ReactTags__selected a.ReactTags__remove {
  color: #aaa;
  margin-left: 5px;
  cursor: pointer;
}

.ReactTags__remove {
  border: none;
  cursor: pointer;
  background: none;
  color: white;
}


